hr {clear: both;height: 0;border: 0;display: none;}
#rokslide-wrapper del {text-decoration: none;clear: both;}
ul#rokslide-toolbar {margin: 0;list-style-type: none;white-space: nowrap;}
#rokslide-toolbar li {float: left;display: block;}
#rokslide-toolbar span {cursor: pointer;display: block;text-align: center;padding: 0 18px;}
div#frame {clear: both;position: relative;overflow: hidden;z-index: 1;}
div#frame div.button {display: none;}
#scroller {margin: 0 auto;overflow: hidden;}
#moduleslide .tab-pane {overflow: hidden;float: left;}



/*custom styles*/
a {
    color: #006064;
}
#rightcol, .showcase-module, #horiz-menu, #sub-menu, #main-body, #header-bar{
    border: none;
}
input[type="text"], input[type="password"]{
    border-radius: 0;
    padding: 3px 10px;
    border: 1px solid #0097a7;
}
#form-login div input[type="submit"]:active,
s#form-login div input.button:active,
.input .button:active,
.button:active,
input[type="submit"]:active,
#add_d_extra:active,
#add_d_list:active,
#add_dr_extra:active,
#add_dr_list:active,
#add_s_extra:active,
#add_s_list:active,
input[type="file"]:active{
    background: #006064 !important;
}
#form-login div input[type="submit"]:hover,
s#form-login div input.button:hover,
.input .button:hover,
.button:hover,
input[type="submit"]:hover,
#add_d_extra:hover,
#add_d_list:hover,
#add_dr_extra:hover,
#add_dr_list:hover,
#add_s_extra:hover,
#add_s_list:hover,
input[type="file"]:hover{
    color: #fff !important;
    background: #0097a7 !important;);
    border: none !important;
}
s#form-login div input[type="submit"],
s#form-login div input.button,
.input .button,
.button,
input[type="submit"],
#add_d_extra,
#add_d_list,
#add_dr_extra,
#add_dr_list,
#add_s_extra,
#add_s_list,
input[type="file"]{
    border: none !important;
    background-color: #00bcd4 !important;
    color: #fff;
    height: 34px !important;
    outline: none !important;
    cursor: pointer;
    padding: 0 5px;
    font-family: Helvetica, ?Arial, ?FreeSans, ?sans-serif;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
}
#add_d_extra,
#add_d_list,
#add_dr_extra,
#add_dr_list,
#add_s_extra,
#add_s_list,
input[type="file"],
#test{
    height: auto !important;
    padding-top: 6px !important;
    padding-bottom: 3px !important;
}
input[type="file"]{
    padding-right: 9px;
}
select{
    padding: 3px 0;
}
.button{
    padding: 8px 32px !important;
    width: auto !important;
}
.div-spacer{
    display: none;
}
.browseProductDescription{
    width:  98%;
    margin: 15px 0 !important;
    padding: 0 1%;
    height: auto !important;
}
#vmMainPage > h3 + div{
    box-shadow: none !important;
}
#vmMainPage table tbody tr td{
    border: 10px solid transparent !important;
    box-shadow: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
}
#vmMainPage table tbody tr td a img{
    width: 90% !important;
    height: auto;
}
#vmMainPage table tbody tr td:hover{
    background: #e0f7fa;
}
#vmMainPage .pagination{
    margin-bottom: 0;
    padding: 0;
}
#product_list{
    width: 100% !important;
    margin: 20px 0 0 5px !important;
}
.addtocart_button{
    background-position: left bottom;
    border: medium none;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
    height: 30px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
    width: 160px;
}
.addtocart_button:hover{
    background: #00796b !important;
}
#product_list > div .line .details{
    display: none;
}
#product_list > div .line{
    position: absolute;
    bottom: 30px;
    left: 0;
    right: 0;
}
#product_list > .clr{
    display: none;
}
.browseProductTitle{
    height: 40px;
}
.browseProductImage{
    width: 30%;
    height: auto;
}
#product_list > div{
    border: none !important;
    border-collapse: collapse;
    box-shadow: none !important;
    padding: 10px 0;
    border-radius: 0 !important;
    height: 420px !important;
}
#product_list > div:hover {
    /* box-shadow: 0 0 2px 2px rgba(0,0,0,0.05), 0 0 0 0 rgba(0,0,0,0) inset !important;*/
    background: #e0f7fa;
}
.inputboxquantity{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid #ccc;
    height: 28px;
    padding-left: 10px;
    font-size: 16px;
    color: #666;
    margin-right: 18px;
}
.quantity_box{
    color: #888;
    margin: 0 !important;
}
.quantity_box_button{
    position: relative;
    padding: 1px 10px !important;
    cursor: pointer;
    height: 18px !important;
    border-color: #009688;
}
.quantity_box_button_up:hover{
    background-color: #ccc;
}
.quantity_box_button_up{
    border-top-right-radius: 0;
    display: inline-block !important;
    right: 50px !important;
    position: absolute;
    top: 3px;
}
.quantity_box_button_down:hover{
    background-color: #ccc;
}
.quantity_box_button_down{
    border-bottom-right-radius: 0px;
    bottom: 40px;
    position: absolute;
    right: 50px;
}
.inner{
    position: relative;
    height: 150px;
}
.browseProductDescription{
    position: relative;
}
.browseAddToCartContainer{
    position: absolute;
    width: auto;
    right: 0;
    left: 0;
    bottom: -50px;
}
.quantity_box{
    margin-left: 22px;
}
.browseRatingContainer{
    display: none;
}
.addtocart_button, .notify_button{
    background-image: none !important;
    color: #fff;
    background-color: #009688 !important;
    margin: 10px 0 0 0;
}
.notify_button{
    margin-top: 28px !important;
    background-color: #f57c00 !important;
}
.pagenav{
    color: #fff;
    background: #757575;
    display: inline-block;
    padding: 13px;
    cursor: pointer;
}
.pagenav:hover{
    background: #424242;
}
.pagination li:first-child{
    margin-right: 10px;
}
.pagination li:last-child{
    margin-left: 10px;
}
.pagination li:nth-child(3) span{
    top: 3px;
    position: relative;
    cursor: auto;
    border: none;
    background: none;
    color: #424242;
    font-size: 20px;
}
form .order{
    text-align: right;
}
.vmCartContainer{
    background: none;
    border: none;
    padding-right: 10px;
    width: 410px;
    margin: 10px 0;
}
.vmCartContainer .addtocart_button{
    margin: 0;
}
.productViewsCart{
    width: 430px;
}
.productViewsCart > img{
    float: right;
    margin-right: 30px;
    margin-top: -40px;
}
.productViewsContainer{
    box-shadow: none;
}
.productViewsDesc{
    padding: 10px 20px 0 20px;
    width: auto;
}
#header-bar .wrapper .nounder #logo{
    width: 450px;
    height: 150px;
    background: none;
    margin: 0 auto;
    position: relative;
}
#header-bar{
    background-position: 0 -8px !important;
}
.menutop li{
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
#horiz-menu{
    /*z-index: 9999;*/
    position: relative;
    background: #00bcd4;
}
.menustyle3 #horiz-menu li.sfHover,
.menustyle3 #horiz-menu li.active a,
.separator,
.menustyle3 #horiz-menu li.active,
.menutop li a:hover span,
.menutop li:hover a span,
.menutop li:hover a span,
.menutop li:hover a
{
    background: none !important;
}
.menustyle3 #sub-menu li a{
    padding: 0 10px;
    margin: 0;
}
.menustyle3 #sub-menu li.active a span{
    border: transparent;
    background: transparent;
}
.menustyle3 #sub-menu li.active a,
.menustyle3 #sub-menu li.active .separator,
.menustyle3 #sub-menu li.active{
    background: #0097a7 !important;
}
.menustyle3 #sub-menu li:hover{
    background: #00bcd4;
}
.menustyle3 #sub-menu li a span{
    border: 1px solid transparent;
    padding: 0;
    margin: 0;
}
.menustyle3 #sub-menu li:hover a{
    background-color: #0097a7;
}
.menutop li:hover{
    background: #0097a7!important;
}
.menustyle3 #horiz-menu li.active{
    background: #0097a7 !important;
}
#main-body{
    margin-bottom: 0 !important;
    border: none !important;
    background: none;
}
#maincol{
    width: 710px
}
.maincontent-surround{
    border-top: none !important;
    overflow: visible;
    position: relative;
}
.moduletable,
.moduletable_menu{
    width: 100%;
    /*z-index: 2;*/
    position: relative;
}
#submenu-container, .menustyle2 #horiz-menu li.active a, .menustyle2 #horiz-menu li.active .separator, .sidenav-block, .moduletable_menu{
    background-color: transparent;
    position: relative;
    /*z-index: 9999;*/
}
ul.menu{
    padding: 0;
}
ul.menu li, .moduletable-hilite7 table td{
    border: none;
}
#form-login div:first-child{
    padding: 10px 20px;
}
.moduletable h3:first-child{
    margin-bottom: -11px;
    display: none;
}
#modlgn_remember{
    position: relative;
    top: 3px;
}
.contentpane{
    padding: 10px 0 10px 10px;
    width: 747px !important;
}
.contentpane tbody tr td input[type="text"],
.contentpane tbody tr td input[type="password"]{
    width: 640px !important;
}
.contentpane tbody tr td select{
    width: 672px !important;
}
.contentpaneopen{
    width: 680px !important;
}
.contentpaneopen tbody tr td span table tbody tr td:nth-child(1){
    width: 200px !important;
}
.contentpaneopen tbody tr td span table tbody tr td:nth-child(2){
    width: 200px !important;
}
.contentpaneopen tbody tr td span table tbody tr td:nth-child(3){
    width: 300px !important;
}
.contentpaneopen table tbody tr td p{
    max-width: 672px;
}
.contentpaneopen table tbody tr td p img{
    max-width: 669px !important;
    width: 100%;
}
.message-content > div{
    display: inline-block;
}
.message-user{
    width: 30%;
    color: #000;
}
.message-subject{
    width: 15%;
}
.message-subject a{
    display: inline-block;
    width: 300px;
    overflow: hidden;
    height: 12px;
}
.message-date{
    float: right;
    width: 50%;
    text-align: right;
    margin-right: 20px;
    color: #000;
}

#rightcol > .main-height{
    display: none !important;
}
.all-message-conteiner, .new-message-conteiner{
    margin: 0;
    padding: 10px;
    background: #fff !important;
}
.message-menu-conteiner .message-menu:first-child{
    float: right;
    background: #3F85CC !important;
    padding: 5px 10px;
    border-radius: 20px;
    position: relative;
    right: -10px;
}
.message-menu-conteiner .message-menu:first-child a{
    color: #fff !important;
}
.message-menu-conteiner .message-menu:first-child a:hover{
    color: #fff !important;
    text-decoration: none;
}
.message-title{
    color: rgba(255,255,255,1);
    text-shadow: 0px 1px 1px rgba(0,0,0,0.7);
    display: none;
}
.message-title{
    width: 100%;
    text-align: center;
    font-size: 20px;
    margin: 0 0 10px 0;
}
.message-content{
    position: relative;
}
.new-message-conteiner > .message-content:after, .all-message-conteiner > .message-content:after{
    content: "new";
    display: block;
    background: #009900;
    width: 30px;
    height: 14px;
    right: -24px;
    top: 1px;
    position: absolute;
    line-height: 14px;
    vertical-align: middle;
    color: #fff;
    text-align: center;
}
.new-message-conteiner > .message-content:before, .all-message-conteiner > .message-content:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-right: 7px solid #009900;
    border-bottom: 7px solid transparent;
    right: 6px;
    top: 1px;
    position: absolute;
}
.all-message-conteiner > .message-content:after{
    content: "old";
    background: #e8e8e8;
}
.all-message-conteiner > .message-content:before{
    border-right: 6px solid #e8e8e8;
}
#main-body{min-height: 615px;}
.user-img{
    float: right;
}
.user-info-holder{
    float: left;
}
form .user-data{
    display: block;
    width: 210px;
    text-align: right;
    margin: 2.5px 0;
}
.user-info-holder .user-name{
    font-size: 20px;
    margin: 10px 20px 15px;
}
.tabContainer2{
    clear: none;
    background: #fff !important;
    border: 1px solid #d5d4d4;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}
.tabContainer2 > table{
    border-collapse: collapse;
    border: none !important;
    width: 100%;
}
.tabContainer2 > table tr:nth-child(2n){
    background: #eee !important;
}
.tabContainer2 > table tr td{
    padding: 5px;
    border: none !important;
}
.tabContainer2 > form[enctype="multipart/form-data"] > .tabContainer2{
    background: #fff !important;
}
.tabContainer2 > .tabContainer2{
    padding: 0;
    position: relative;
}
#bs_container{
    border: none;
    width: calc(100% - 2px) !important;
}
.highcharts-container{
    width: calc(100% - 2px) !important;
    height: calc(100% - 1px) !important;
    left: 1px !important;
    top: 0 !important;
}
.highcharts-series rect{
    background: #000 !important;
}
.phase-navigation a:hover{
    text-decoration: none;
}
.phase-navigation {
    position: relative;
    display: block;
    width: 50%;
    overflow: hidden;
    text-align: left;
    border: none;
    left: -30px;
    background: none !important;
    /*    background: #e2e2e2;
        background: -moz-linear-gradient(top, #ccc 0%, #999 100%);
        background: -webkit-linear-gradient(top, #ccc 0%, #999 100%);
        background: -o-linear-gradient(top, #ccc 0%, #999 100%);
        background: linear-gradient(top, #ccc 0%, #999 100%);*/
}
.phase-navigation ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.phase-navigation a{
    background: #00bcd4;
    display: inline-block;
    margin: 1px 1px 9px 1px;
    padding: 5px 10px 5px 10px;
    color: #fff;
    width: auto;
    line-height: 30px;
    vertical-align: middle;
    /*z-index: 2;*/
    font-size: 14px;
    position: relative;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.phase-navigation a:hover:after{
    border-top-color: #006064;
}
.phase-navigation a:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-top: 8px solid #0097a7;
    left: -1px;
    bottom: -8px;
}
.phase-navigation a:hover{
    background: #0097a7;
}
.phase-navigation{
    padding: 0 !important;
}
.phase-navigation-header:first-child{
    left: 304px;
}
.response-data{
    display: inline-block;
    min-width: 100px;
}
.response-name{
    display: inline-block;
    min-width: 80px;
    text-align: right;
    margin-right: 5px;
}
.padding{
    overflow: visible;
}
.contentheading{
    color: #ccc;
    margin-top: 20px;
    margin-bottom: 10px;
}
#mainblock{
    margin-right: 198px !important;
    border-right: 1px solid #ccc;
    padding-top: 30px !important;
    border-top: none !important;
}
#rightbanner .moduletable img{
    position: relative;
    display: inline-block;
    /*z-index: -5;*/
    margin-left: 5px;
}
#rightbanner{
    width: 208px !important;
    position: relative;
}

ul.menu li a:hover:after{
    border-top-color: #006064;
}
ul.menu li a:after{
    border-right: 14px solid transparent;
    border-top: 8px solid #0097a7;
    bottom: -7px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    right: 0px;
    width: 0;
}
ul.menu li a {
    background: none repeat scroll 0 0 #00bcd4;
    margin: 1px 0 9px 0;
    padding: 4px 10px;
    width: 202px;
    position: relative;
    overflow: visible;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.4);
}
ul.menu li a:hover{
    background-color: #0097a7;
}
.moduletable_menu{
    margin: 0;
    padding: 0;
}
.contentpaneopen td div {
    max-width: 670px;
}
#nsp-nsp_75{
    margin: 0;
    max-width: 740px;
}
.showcase-module .moduletable{
    max-width: 740px;
    padding: 10px 0;
    border: none;
}
#mainblock{
    width: 710px;
    margin-right: 0 !important;
}
#main-body {
    min-height: 615px;
    width: 710px;
}
#rightbanner .padding {
    padding: 20px 0 0;
}
.contentheading {
    border: 0 none;
    font-family: Helvetica,Arial,FreeSans,sans-serif !important;
    font-size: 180%;
    font-weight: normal;
    line-height: 140%;
    padding: 0;
    background: #fff;
}
.showcase-module{
    position: relative;
    /*z-index: 9999;*/
    border: none !important;
}
#sub-menu ul.menusub li{
    background-color: #00bcd4;
    margin: 0;
    padding: 0;
}
#sub-menu ul.menusub li a{
    padding-right: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}
#sub-menu ul.menusub li:first-child a:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-top: 8px solid #0097a7;
    left: 0;
    bottom: -8px;
}
#sub-menu ul.menusub li:first-child a:hover:after{
    border-top-color: #006064;
}
#sub-menu ul.menusub li.active:first-child a:after{
    border-top-color: #006064;
}
#sub-menu ul.menusub li a span{
    padding-right: 10px;
    border-right: 1px solid #29a1d6;
}
#sub-menu ul.menusub li:last-child a span{
    border-right: none;
}
.menusub{
    background: none repeat scroll 0 0 #00bcd4;
    border-top: 1px solid #fff;
    height: 38px !important;
    margin: 0;
    max-width: 724px;
    position: relative;
    width: 100%;
    z-index: 1;
    padding: 0 !important;
}
#sub-menu{
    padding: 0 !important;
    border: none !important;

}
.module h3, .moduletable h3, .module-clean h3, .moduletable-clean h3{
    margin-left: 0;
    width: 680px;
}
body > div.wrapper {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}
div.wrapper {
    width: 918px !important;
}
#sub-menu {
    left: 50%;
    margin-left: -473px;
    padding-top: 0 !important;
    position: absolute;
}
form#form-login fieldset.input{
    width: 150px;
    margin: 0 auto;
}
#form-login-username, #form-login-password, #form-login-remember{
    width: auto;
    max-width: 150px !important;
}
#form-login-username input, #form-login-password input, #form-login-remember input{
    max-width: 128px;
}
form#form-login{
    text-align: center;
}
form#form-login ul{
    text-align: left;
    list-style: none;
    padding-left: 30px;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .next{
    margin-right: 15px !important;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .prev{
    margin-left: 15px !important;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .prev,
.nsp_main_portal_mode2 .nsp_bottom_interface .next{
    background: #00bcd4 !important;
    background-position: 5px 7px;
    padding: 5px 20px !important;
    border-radius: 0 !important;
    cursor: pointer;
    font-size: 10px;
    height: 20px;
    line-height: 22px;
    width: 54px;
    text-align: center;
    margin-top: -22px !important;
    position: relative;
    z-index: auto;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .prev:hover{
    background: #0097a7 !important;
    border-color: #006064;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .next:hover{
    background: #0097a7 !important;
    border-color: #006064;
}
.nsp_bottom_interface{
    padding: 0 !important;
    position: relative;
    z-index: 2;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .prev:after, .nsp_main_portal_mode2 .nsp_bottom_interface .next:after{
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-right: 8px solid transparent;
    border-top: 8px solid #0097a7;
    right: -8px;
    bottom: 0;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .next:after{
    border-left: 8px solid transparent;
    border-right: medium none;
    bottom: 0;
    left: -8px;
    right: auto;
}
.nsp_main_portal_mode2 .nsp_bottom_interface .prev:hover:after, .nsp_main_portal_mode2 .nsp_bottom_interface .next:hover:after{
    border-top-color: #006064;
}
.nsp_images{
    padding: 0 !important;
    position: relative;
    z-index: 1;
}
.nsp_art{
    width: 710px !important;
}
.nsp_art div{
    padding: 0 !important;
}
.nsp_art div a img{
    max-width: 710px !important;
    padding: 0 !important;
}
.nsp_main_portal_mode2 .nsp_bottom_interface{
    border: none !important;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1) inset;
    overflow: inherit;
    width: 740px;
    margin-left: -15px !important;
}

.nsp_main_portal_mode2 .nsp_bottom_interface .nsp_text_block {
    height: 48px;
    margin: 0 140px;
    position: absolute;
    width: 490px;
    z-index: 1;
    overflow: hidden;
}
.nsp_art_headline > div > h4{
    margin: 0 !important;
    padding: 18px 0;
}
.nsp_info, .nsp_headline{
    display: inline-block;
    float: left;
}
.nsp_headline{
    clear: right;
    height: 48px;
}
.nsp_info{
    clear: left;
}
.nsp_text_wrap{
    text-align: left;
}
.buttonheading{
    display: inline-block;
    float: right;
    position: absolute;
    top: -25px;
    right: 0;
    z-index: 20;
}
.buttonheading:first-child{
    right: 40px;
}
.buttonheading:nth-child(2){
    right: 20px;
}
.buttonheading:nth-child(3){
    right: 0;
}
#system-message{
    left: 0;
    margin: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 100%;
    z-index: 999;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
}


#system-message  > .message ul{
    border-color:  #0097a7 !important;
    margin: 0;
    background-color: #b2ebf2 !important;
    color: #006064 !important;
}
#system-message > .error ul{
    border-color:  #d01716 !important;
    margin: 0;
    background-color: #f9bdbb !important;
    color: #b0120a !important;
}
.add_d_list,
.add_d_extra,
input[type="submit"]{
    background: ;
}
.goals table{
    border-collapse: collapse;
    max-width: 680px;
    position: relative;
    width: 100%;
    z-index: -1;
}
.goals table td[align="center"]{
    border-right: none !important;
    padding-right: 0 !important;
}
.goals table td[align="center"] + td{
    border-left: none !important;
    padding-left: 0 !important;
}
.data-result{
    padding: 0;
    margin: 2px auto;
    position: relative;
    display: block;
    width: 500px;
    position: relative;
    background-color: #f5f5f5;
    z-index: -1;

}
.body-stats,
.body-type,
.goals,
.lifestyle{
    overflow: hidden;
    width: 500px;
    box-shadow: 0 0 3px rgba(0,0,0,0.3) inset;
    position: relative;
    margin: 10px auto;
    z-index: 2;
}

.goals{
    width: 500px;
}.goals .data-result{
    width: 500px;
 }
.lifestyle{
    width: 480px !important;
    padding: 10px;
}
.horizontal-shadow{
    width: 500px;
    position: relative;
    margin: 0 auto;
}
.horizontal-shadow:after {
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 1);
    content: "";
    height: 90%;
    position: absolute;
    right: -6px;
    top: 5%;
    width: 5px;
    z-index: 1;
}
.horizontal-shadow:before {
    border-radius: 100%;
    bottom: 0;
    box-shadow: 0 0 7px rgba(0, 0, 0, 1);
    content: "";
    height: 90%;
    left: -6px;
    position: absolute;
    top: 5%;
    width: 5px;
    z-index: 1;
}
.data-result .value-name{
    display: inline-block;
    position: relative;
    padding: 10px;
    font-weight: bold;
    color: #006064;
}
.data-result .value{
    padding: 10px;
    position: relative;
    float: right;
}
.body-stats div:nth-child(2n),
.body-type div:nth-child(2n),
.goals div:nth-child(2n)
{
    background: #fff !important;
}

.current-photo{
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3) inset;
    width: 460px !important;
}
.photo-one{
    float: left;
}
.photo-two{
    float: right;
}
.body-type-photo{
    width: 200px;
    margin: 0 auto 20px auto;
}
.lifestyle{
    color: #006064;
    font-weight: bold;
}
.chart-element-val{
    position: relative;
    z-index: 20;
}
.chart-desc .chart-element:nth-child(1) .chart-element-val{
    display: inline-block;
}
/*-----------------------------------------------------------------*/
/*-----------------------------------------------------------------*/
.body-chart{
    width: 610px;
    margin: 0 auto;
}
.body-chart > div
{
    display: inline-block !important;
}
#symptom-1, #symptom-2, #drug-1, #drug-2, #dis-1, #dis-2{
    max-width: 310px;
    overflow: hidden;
}
#chart_div{
    max-width: 673px;
    overflow: hidden;
}
.contentheading{
    max-width: 600px;
}
td .tabContainer2{
    max-width: 200px;
    margin: 0 auto;
}
#medical{
    max-width: 500px !important;
}
.tabContainer2{
    max-width: ;
}